<table class='fancy-table'>
  <caption>
    <h2><%= objects.fancy_table_title %></h2>
  </caption>
  <thead>
    <tr>
      <% objects.fancy_table_headers.each do |header| %>
        <th>
        </th>
      <% end %>
    </tr>
  </thead>
</table>
