<table class='fancy-table'>
  <caption>
    <h2><%= objects.fancy_table_title %></h2>
  </caption>
  <thead>
    <tr>
      <% objects.fancy_table_headers.each do |header| %>
        <th><%= header.to_s.titleize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% objects.each do |object| %>
      <tr>
        <% objects.fancy_table_headers.each do |header| %>
          <td><%= object.send(header) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
